:root {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
    font-weight: 500;
}

body {
    color: white;
    background-color: #111111;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.6vw;
}

body::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 1vw;
}

body::-webkit-scrollbar-thumb {
    background: #006cb5;
    border-radius: 1vw;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    padding-bottom: 10vw;
    justify-items: center;
    margin: 0 auto;
}

.card {
    background-color: rgb(77, 77, 77);
    text-align: center;
    width: 20vw;
    padding: 1vw;
    border-radius: 1vw;
    transition: all 0.3s ease 0s;
    font-size: 1rem;
}

.card:hover {
    box-shadow: 0 0 1vw 0 #006cb5;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 1vw;
}

/* .card h2 {
    font-size: 1rem;
} */

@media (max-width: 600px) {
    .cards {
        padding: 10px;
        /* Reduce padding on small screens */
        gap: 15px;
        /* Reduce gap between cards on small screens */
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 2%;
}

header>* {
    align-items: center;
    display: flex;
}

.logo {
    flex: 0 0 auto;
    max-width: 100%;
    justify-content: center;
}

header nav {
    flex: 1;
    justify-content: center;
}

header .cta {
    flex: 0 0 auto;
    justify-content: flex-end;
}

li,
a,
button {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav__links li {
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #006cb5;
    font-size: 1.75vw;
}

button {
    padding: 0.5vw 1vw;
    background-color: #000000;
    border: none;
    border-radius: 2vw;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #161616;
    box-shadow: 0 0 0.75vw 0 #757575;
}

sectionfirst {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw;
    line-height: 1.5vw;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vw;
    padding: 10vw;
}

@media (max-width: 1200px) {
    button {
        padding: 1.5vw 2vw;
        border-radius: 6vw;
    }

    sectionfirst {
        font-size: 3vw;
    }

    section {
        font-size: 4vw;
    }

    li,
    a,
    button {
        font-size: 4vw;
    }

    header .logo {
        max-width: 20%;
    }
}

@media (min-width: 1201px) and (max-width: 1599px) {
    button {
        padding: 0.8vw 1.6vw;
        border-radius: 6vw;
    }

    sectionfirst {
        font-size: 2.5vw;
    }

    section {
        font-size: 3vw;
    }

    li,
    a,
    button {
        font-size: 3vw;
    }

    header .logo {
        max-width: 30%;
    }
}

@media (min-width: 1600px) and (max-width: 1920px) {
    button {
        padding: 0.8vw 1.6vw;
        border-radius: 6vw;
    }

    sectionfirst {
        font-size: 2.5vw;
    }

    section {
        font-size: 3vw;
    }

    li,
    a,
    button {
        font-size: 2vw;
    }

    header .logo {
        max-width: 30%;
    }
}

#typing::after {
    content: "|";
    animation: blink 0.8s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.fade-in-text {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blue {
    background: #00ccff;
}

.orange {
    background: #ff7300;
}

.dark {
    background: #111111;

}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('images/blackwaves.svg');
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 35%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white
    }
}