* {
    box-sizing: border-box;
}

:root {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 500;
}

body {
    color: white;
    background-color: #0a0a0a;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #006cb5;
    border-radius: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
    justify-items: center;
    margin: 0 auto;
}
  
.card {
    background-color: rgb(77, 77, 77);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 500px;              /* Set a fixed width for each card */
    padding: 20px;              /* Padding inside each card */
    border-radius: 10px;        /* Rounded corners */
}

.card:hover {
    box-shadow: 0 8px 16px 0 #006cb5;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h2 {
    font-size: 1rem;
}

@media (max-width: 600px) {
    .cards {
        padding: 10px; /* Reduce padding on small screens */
        gap: 15px;     /* Reduce gap between cards on small screens */
    }
}

li, a, button {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 2%;
}

header > * {
    align-items: center;
    display: flex;
    width: 33%;
}

header nav {
    justify-content: center;
}

header .cta {
    justify-content: right;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    padding: 0;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #006cb5;
    font-size: 35px;
}

button {
    padding: 9px 25px;
    background-color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #161616;
}

sectionfirst {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    padding: 150px 10vw;
    line-height: 20px;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    padding: 100px 20vw;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('/images/blackwaves.svg');
}